body{
	text-align: center;
	background: url(src/skyscraper.png);
	background-repeat: no-repeat;
  background-size: cover;	
  background-position: center top;	
  font-family: "Courier New", Helvetica, serif;
  background-color: #e4f7fe;
}

h1{
    padding-top: 50px;
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  #bebold {
    margin-top: 10%;
    height: 180px;
    background-color: rgba(0,0,0,0.5);
    font-size: 1000%;
    font-weight: bolder;
    font-family: "Arial Black", Helvetica, serif;
    color: #ffef00;
    text-shadow: 2px 2px 4px #000000;
    text-align: left;
    padding: 5%;
  }
  
  .active {
    background-color: #04AA6D;
  }